.scroll-button { 
    background: none;
    border: none; 
    position: absolute;
    display: inline; 
    color: pink; 
}

label { 
    padding-top: 1000px;
}

#exit { 
    text-decoration: none;
    position: absolute;
    top: 10px; 
    right: 10px; 
}


#left-scroll { 
    float: left; 
    left: 5px; 
    
}

#right-scroll { 
    float: right;
    right: 5px; 
}

.scroll-button:hover { 
    cursor: pointer; 
    color: black; 
}

#numWindows { 
    margin: 10px; 
}

.btn { 
    background-color: white;
}


.cluster-btn { 
    background-color: pink;
    border-radius: 15px; 
    font-style: italic;
    padding: 7px; 
    border: none; 
}

.cluster-btn:hover { 
    cursor: pointer; 
}
    
#loading { 
    width: 70px; 
    height: 70px;
}


#popup-window { 
    display: flex; 
    align-items: center;
    text-align: center;
    /* justify-content: space-around; */
    background: palegreen;
    height: 150px; 
    width: 250px; 
    border-radius: 7px; 
    border: 0.001em solid #e5e5e5;
    font-family: 'helvetica neue';
}

.button-cover {
    width:100%;
    background:#fff;
    margin-top: 20px;
    padding: 10px 0 10px 0;
}



