.scroll-button { 
    background: none;
    border: none; 
    font-size: 1.25em;
    position: absolute;
    top: 50%; 
    display: inline; 
    color: #fa646c; 
}


.text { 
    text-align: center;
    margin: 0 15px 0 15px; 
    padding-top: 15px; 
}


.slide { 
    text-align: center; 
}

#exit { 
    text-decoration: none;
    position: absolute;
    color:  #fa646c; 
    font-size: 0.75em; 
    top: -2px; 
    right: 2px; 
}

#exit:hover { 
    color: black; 
}


#left-scroll { 
    float: left; 
    left: 1px; 
    
}

#right-scroll { 
    float: right;
    right: 1px; 
}

.scroll-button:hover { 
    cursor: pointer; 
    color: black; 
}

/* #numWindows { 
    
} */

.btn { 
    background-color: white;
}

input { 
    text-align: center;
    position: absolute; 
    left: 45%; 
    top: 35%; 

}

input:focus { 
    outline: none; 
}




button { 
    background-color: #fa646c; 
    border-radius: 25px; 
    text-align: center;
    font-style: italic;
    position: absolute; 
    border: none; 
    color: white;
    padding: 10px; 
    font-size: 20px;

}

#clusterDomain { 
    top: 40%; 
    left: 30%; 
}

#textCapture { 
    left: 40%; 
    bottom: 12%; 
}

.cluster-btn:hover { 
    cursor: pointer; 
}
    
#loading { 
    width: 50%; 
    height: 100%;
    position: absolute;
    left: 26%; 
}


#popup-window { 
    /* display: flex; 
    align-items: center;
    text-align: center; */
    /* justify-content: space-around; */
    background: #fa969b; 
    color: white; 
    font-weight: bolder;
    height: 150px; 
    /* width: 250px;  */
    width: 300px;
    font-family: 'helvetica neue';
}

.button-cover {
    width: 100%;
    background:#fff;
    margin-top: 25px;
    padding-bottom: 5.6em; 
}



